.robotCard {
  border: 2px solid black;
  box-sizing: border-box;
  min-height: 20em;
  margin-top: 3em;
}

.prompt {
  margin-top: 5em;
  border: 5px solid black;
  box-sizing: border-box;
}

.choice {
  display: none;
}

.selection {
  border: 2px dashed black;
  box-sizing: border-box;
  min-height: 10em;
  margin-top: 5em;
  padding: 1em;
}

.prompt {
  padding: 2em;
  margin-top: 3em;
  font-size: 1.5em;
}
