.robotCard {
  border: 2px solid black;
  box-sizing: border-box;
  min-height: 20em;
  margin-top: 1em;
}

.prompt {
  margin-top: 5em;
  border: 5px solid black;
  box-sizing: border-box;
}

.choice {
  display: none;
}

.selection {
  border: 2px dashed black;
  box-sizing: border-box;
  min-height: 10em;
  margin-top: 2em;
  padding: 1em;
}

.prompt {
  padding: 2em;
  margin-top: 1em;
  font-size: 1.5em;
}

#outputTarget {
  border: 2px solid black;
  margin-top: 1em;
  height: 20em;
  padding: .5em;
  text-align: left;
  overflow: auto;
}

.proceed {
  border: 1px dashed black;
  margin-top: 7em;
  height: 6em;
  padding: 2em;
}